<%= devise_error_messages! %>
<div align="center">
  <h2 class="title">Forgot your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
    <div class="auth-sign-in-form" align="left" style="height: 200px">
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, {autofocus: true, class: 'form-control input-block'} %>
      </div>

      <div class="actions mt">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-success btn-block' %>
      </div>

      <div class="mt">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>

