<div class="digg_pagination">
  <%= will_paginate @expenses,:previous_label => t('will_paginate.previous'), :next_label => t('will_paginate.next') %>
</div>
<table class="table table-bordered table-striped table-condensed table-hover table-responsive">
  <tr class="shown">
    <th><%= t('name') %></th>
    <th><%= t('value') %></th>
    <th><%= t('date_head') %></th>
    <th><%= t('category') %></th>
  </tr>
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.name %></td>
      <td><%= expense.value %></td>
      <td><%= expense.date %></td>
      <td><%= expense.category.name %></td>
      <td><%= link_to t('edit'), edit_expense_path(expense) %></td>
      <td><%= link_to t('delete'), expense, method: :delete, data: {confirm: t('are_you_sure')} %></td>
    </tr>
  <% end %>
</table>
<div class="digg_pagination">
  <%= will_paginate @expenses,:previous_label => t('will_paginate.previous'), :next_label => t('will_paginate.next') %>
</div>
<br>
<h4><b><%= t('total_page') %>: </b> <%= sum_expenses_value %></h4>
<br>
<h4><b><%= t('total_all') %>: </b> <%= @sum_all_expenses %></h4>