<%= link_to t('new_expense'), new_expense_path, class: "btn btn-primary pull-right", style: 'margin: 10px' %>
<%= link_to t('new_category'), new_category_path, class: "btn btn-primary pull-right", style: 'margin: 10px' %>
<%= link_to t('categories'), categories_path, class: "btn btn-primary pull-right", style: 'margin: 10px' %>
<div style="margin-right: 30px">
  <%= label_tag t('category') %>
  <%= select_tag :category, options_for_select(categories_options, selected: @category.present? ? @category.id : nil), {allow_blank: true} %>
</div>

<div style="display: none">
  <%= select_tag :category, options_for_select(categories_options, selected: @category.present? ? @category.id : nil), {allow_blank: true} %>
  <%= label_tag t('to_date') %>
  <%= select_tag :category, options_for_select(categories_options, selected: @category.present? ? @category.id : nil), {allow_blank: true} %>
  <%= label_tag t('from_date') %>
</div>

</br>

<table class="table table-bordered table-striped table-condensed table-hover table-responsive">
  <tr class="shown">
    <th><%= t('name') %></th>
    <th><%= t('value') %></th>
    <th><%= t('date_head') %></th>
    <th><%= t('category') %></th>
  </tr>
  <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.value %></td>
        <td><%= expense.date %></td>
        <td><%= expense.category.name %></td>
        <td><%= link_to t('edit'), edit_expense_path(expense) %></td>
        <td><%= link_to t('delete'), expense, method: :delete, data: {confirm: t('are_you_sure')} %></td>
      </tr>
  <% end %>
</table>
<br>
<h4><b><%= t('total') %>: </b> <%= sum_expenses_value %></h4>

