<%= link_to t('new_expense'), new_expense_path, class: "btn btn-primary pull-right", style: 'margin: 10px' %>
<%= link_to t('new_category'), new_category_path, class: "btn btn-primary pull-right", style: 'margin: 10px' %>
<%= link_to t('categories'), categories_path, class: "btn btn-primary pull-right", style: 'margin: 10px' %>


<%= form_tag({:action => 'index'}, {remote: true, :role => 'form', :method => :get, :class => 'form-inline',:style => 'margin-left: 15px', :id => 'filter-expenses'}) do %>

  <div class="row" style="margin-right: 30px">
    <%= label_tag t('category') %>
    <%= select_tag :category, options_for_select(categories_options), {allow_blank: true} %>
  </div>

  <div class="row">
    <%= label_tag t('from_date') %>
    <%= date_select :from_date, nil, selected: Date.today.beginning_of_month %>
  </div>

  <div class="row mt">
    <%= label_tag t('to_date') %>
    <%= date_select :to_date, nil, selected: Date.today.end_of_month %>
  </div>

  <div class="row mt">
    <%= button_tag t('filter'), type: 'submit', class: 'btn btn-default' %>
  </div>
<% end %>


</br>
<div id="expenses-list">
  <%= render 'expenses_list' %>
</div>

