<!DOCTYPE html>
<html class="<%= current_user.present? ? "" : "auth" %>">
<head>
  <title>BudgetApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= current_user.present? ? "" : "auth" %>">

<div class="dropdown pull-right" style="margin-right: 20px">
  <a class="dropdown-toggle count-info" data-toggle="dropdown" href="javascript:void(0);">
    <%= t('language') %><span class="caret"></span>
  </a>

  <ul class="dropdown-menu dropdown-alerts">
    <li class="<%= I18n.locale == :ar ? 'disabled' : '' %>"><%= link_to 'عربى', url_for(:locale => 'ar'), 'data-no-turbolink' => true %></li>
    <li class="divider"></li>
    <li class="<%= I18n.locale == :en ? 'disabled' : '' %>"><%= link_to 'English', url_for(:locale => 'en'), 'data-no-turbolink' => true %></li>
  </ul>
</div>
<br><br>
<div class="container-fluid" style="margin: 10px;font-size: 17px;">
  <% if alert.present? %>
    <div align="center">
      <div class="alert alert-danger fade in " style="width: 350px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= alert %>
      </div>
    </div>
  <% end %>
  <% if notice.present? %>
    <div class="alert alert-success alert-dismissible fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= notice %>
    </div>
  <% end %>
  <div class="ajax-content">
    <%= yield %>
  </div>
</div>

</body>
</html>
