<!DOCTYPE html>
<html>
<head>
  <title>BudgetApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="dropdown pull-right" style="margin-right: 20px">
  <a class="dropdown-toggle count-info" data-toggle="dropdown" href="javascript:void(0);">
    <%= t('language')%>
  </a>

  <ul class="dropdown-menu dropdown-alerts">
    <li class="<%= I18n.locale == :ar ? 'disabled' : '' %>"><%= link_to 'عربى', url_for( :locale => 'ar'), 'data-no-turbolink' => true %></li>
    <li class="divider"></li>
    <li class="<%= I18n.locale == :en ? 'disabled' : '' %>"><%= link_to 'English', url_for( :locale => 'en'), 'data-no-turbolink' => true %></li>
  </ul>
</div>
<br><br>
<%= yield %>
</body>
</html>
